.row{
    background-color: #8093f1;
    height: 300px;
    width: 98%;
    margin-bottom: 30px;
    padding: 1%;
    text-align: center;
}
.col{
    /**
    block element - inline element
    div ile işlem yapılıyor ise width değeri sadece genişliği ayarlar ancak tam genişliği daraltmaz.
    **/
    border: 1px solid #f7aef8;
    height: 100%;
    width: 32%;
    display: inline-block;
}
.form-element{
    margin: 10px;
    padding: 2px;

}
.form-item{
    display: block;
    margin: 10px;
    padding: 2px;
    text-align: left;
    width: 90%;
}
.form-image{
    width: 60%;
    height: 60%;
}